.mainNav {
  margin: 10px auto 80px;
  padding: 10px 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #ddd;

  a {
    margin-left: 12px;
  }

  .logo {
    margin-right: auto;
  }
}